<!DOCTYPE html>
<html>
<head>
  <title>News Today From Mediastack</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Adjust the styles as needed */
    html,
    body {
      height: 100%;
    }
    .container-fluid {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    #news-container {
      height: calc(100% - 220px);
      overflow-y: scroll;
    }
    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }
    .content {
      flex: 1;
    }
  </style>
  <script src="scripts/news-page.js"></script>
</head>
<body>
  <div class="wrapper">
    <!-- Top row -->
    <div class="container-fluid bg-light">
      <div class="row">
        <div class="col">
          <h1>Welcome!</h1>
        </div>
        <div class="col">
          <!-- Menu goes here -->
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/topheadlines">News API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mediastack">Mediastack</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

<!-- Second row -->
<div class="container-fluid">
    <div class="row align-items-center text-center">
        <h4>MediaStack Top Headlines</h4>   
        <span class="label label-success" id="sucess_label">{{news.pagination.count}} articles</span>  
    </div>
</div>

<hr>
    <!-- Third row -->
    <div class="container">
      
      <div class="row" id="news-container">
         {{#each news.data}}
           <div>               
              <a href="{{url}}" target="_blank"><h5>{{title}}</h5></a>
              {{{description}}}<br>

              {{#if image}}
                <img src="{{image}}" width="200px" height="auto"><br>                              
              {{/if}}

              
              {{#if author}}
              <b>author: </b><i>{{author}}</i> 
              {{/if}}
              <b>source: </b><i>{{source}}</i><br>
              category: {{category}} language: {{language}} country: {{country}} published_at: {{published_at}}    
           </div>
           <hr>
          {{/each}}                     
        </div>
    </div>

    <!-- Fourth row (sticky footer) -->
    <footer class="container-fluid bg-light text-center">
      <div class="row">
        <div class="col">
          <p>(c)vertexwebdev 2023, version{{version}}, last update: {{lastSuccessful}}</p>
        </div>
      </div>
    </footer>
  </div>

  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
